
body {
  font-family: "Montserrat";
  text-align: center;
}
.container-fluid{
  padding: 3% 12% 7%;
}
.navbar {
    padding: 0 0 2rem;
}
.big-heading {

  text-align: justify;
  font-family: "Montserrat-Black";
  font-size: 5rem;
  line-height: 1.5;
}

p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
font-family: 'Lato', sans-serif;
text-align: justify;
}

/* a:hover {
  b
} */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
.navbar-brand{
font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  padding: 0 18px;
  }
  .nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
}


.Qualification-head{
  padding: 2% 0 3%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
font-family: 'Oleo Script', cursive;
}


#Certification{
  background-color: #ef8172;
  text-align: center;

}
.Certification-head{
  color: #FFF;
  font-size: 3rem;
  padding: 2% 0 3%;
  text-decoration: underline;
}

#Skills{
  background-color: #FFF;
  text-align: center;
}

.icon {
  color: #ef8172;
}
.card-skill{
  font-size: 1.2rem;
}
.card-body:hover{
    color: #ff4c68;
}
.icon:hover {

  color: #ff4c68;
}

.card-row-top{
  margin-left: 0;
}
.card-row{
  margin: 5% 0;
}

.social-icon {
  margin: 20px 10px;
}



#contact-form{
  background-color: #ff4c68;
  padding: 5% 0;
}
